.featured-section {
/* border: 2px solid red; */
  background: #f4f6f8;
  padding: 80px 20px;
  text-align: center;
  padding-bottom: 100px;
}

.featured-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 60px;
}

.featured-title .underline {
  display: block;
  width: 55px;
  height: 3px;
  background: #28a745;
  margin: 12px auto 0;
  border-radius: 2px;
}



.featured-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;        
}


.featured-logos img {
  height: 60px;             
  width: 25%;               
  object-fit: contain;
  /* filter: grayscale(100%); */
  opacity: 0.8;
  transition: 0.3s ease;
}

/* Hover effect */
.featured-logos img:hover {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 992px) {
  .featured-logos {
    flex-wrap: wrap;
    gap: 40px;
  }

  .featured-logos img {
    height: 50px;
  }
}